/* MEDIA SCREENS */
@media only screen and (min-width: 769px) {

section.contents {
    overflow: auto;
    border-top: 1px solid #ddd;
    width:900px;
    margin: 0 auto;
}

section.figures figure {
    display: inline;
    width:250px;
    height:200px;
    float:left;
    margin:2px;

}

figcaption {
	float:left;
	background: rgba(26, 83, 92, 0.8);
	z-index:5;
	position:relative;
	top:-80px;
	color:white;
	padding:10px 0px;
	width:100%;
	text-align: center;
	opacity:.7;

}

#topNavigation{
	width:900px;
	margin:0 auto;

}

#mainSection {
	float:left;
	width:65%;
	background-color: white;
	margin:2%;
	padding:2%;
	border-style: solid;
	border-width: 1px;
	border-color: #ddd;
	position:relative;
	left:200;

}

#portfolioLayout {
	float:left;
	width:65%;
	background-color: white;
	margin:2%;
	padding:2%;
	border-style: solid;
	border-width: 1px;
	border-color: #ddd;
	position:relative;
	left:200;

}

#connectBlock {
	position:relative;
	right: 0px;
	float:left;
	text-align: center;
	font-family:Arial, Helvetica, sans-serif;
	color:#4aaaa5;
	background-color: white;
	margin:2% 2% 0% 0%;
	width:25%;
	padding: 3% 2%;

	
}

#profilePic {
	margin: 0% 3% 2% 0%;
	width:240px;
}

aside#connectBlock hr {
	text-align: center;
	size: .5px;
	margin:12px 0%;

}

header {
	background-color:#fff;
	width:100%;
	border-bottom: 1px solid #ccc;
	margin:0 auto;
	position:static;

}

header ul {
	overflow:auto;
	width:25%;
	margin:2% 6% 2% 2%;
	padding:0px;
	border-collapse: all;
	float:right;	
}

header h1 {
	padding: 2% 5%;
	float:left;
	background-color:#4aaaa5;
	text-align: center;
	color:white;
	font-family: 'Georgia', Times, 'Times New Roman', serif;
	margin:0% 0% 0% 2%;
	font-size:24px;
	font-style:bold;
	text-transform: uppercase;

}

nav ul li{

	width:200px;
	display:inline;
	list-style:none;
	margin: 2% 0% 2% 0%;
	font-family:Arial, Helvetica, sans-serif;
	font-size:14px;
	padding:0% 4%;
	text-transform: capitalize;
	
}

hr {
    border-top: 1px 
    solid: #cdcdcd;
    padding: 0px; 
    margin: 10px 0px 10px 0px;
}



}


/*. BREAKPOINT 768. */

@media screen and (max-width: 768px) and (min-width: 641px) {

section.contents {
    overflow: auto;
    border-top: 1px solid #ddd;
    width:100%;
    margin: 0 auto;
    /*background-color:red;*/
    padding:1%;
}

#portfolioLayout {
	float:left;
	width:100%;
	background-color: white;
	margin:8px 0px;
	padding:15px;
	border-style: solid;
	border-width: 1px;
	border-color: #ddd;

}

section.figures figure {
	float:left;
    display: inline;
    margin: 0px 3% 0px 3%;
    width:44%;
}

figure img {
    width:100%;
    height:100%;
    
}


figcaption {
	float:left;
	background: rgba(26, 83, 92, 0.8);
	z-index:5;
	position:relative;
	top:-60px;
	color:white;
	padding:10px 0px;
	width:100%;
	text-align: center;
	opacity:.7;

}



header {
	background-color:#fff;
	width:100%;
	border-bottom: 1px solid #ccc;
	margin:0 auto;
	position:static;
	/*background-color:red;*/

}

#topNavigation {
	width:100%;
	margin:0 auto;

}



#mainSection {
	width:100%;
	background-color: white;
	padding:2%;
	border-style: solid;
	border-width: 1px;
	border-color: #ddd;

}

#profilePic {
	margin: 0% 2% 1% 0%;
	width:240px;
}

header h1 {
	padding: 12px 18px;
	float:left;
	background-color:#4aaaa5;
	text-align: center;
	color:white;
	font-family: 'Georgia', Times, 'Times New Roman', serif;
	margin:0% 0% 0% 2%;
	font-size:16px;
	font-style:bold;
	text-transform: uppercase;
	white-space: nowrap;

}

header ul {
	float:right;
	margin:0% 4% 0% 2%;
	padding:12px;
	border-collapse: all;
	overflow:auto;
	white-space: nowrap;
}

nav ul li{
	display:inline;
	list-style:none;
	margin: 2% 0% 2% 0%;
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	margin-left: 20px;
	text-transform: capitalize;
	
}


#connectBlock {
	position:relative;
	width:100%;
	clear:both;
	font-family:Arial, Helvetica, sans-serif;
	color:#4aaaa5;
	background-color: white;
	margin-top: 1%;

}

aside#connectBlock hr {
	text-align: left;
	size: .5px;
	margin:12px 0%;

}



hr {
    border-top: 1px 
    solid: #cdcdcd;
    padding: 0px; 
    margin: 10px 0px 10px 0px;
}


}


/*. BREAKPOINT 640. */

@media screen and (max-width: 640px) {

section.contents {
    overflow: auto;
    border-top: 1px solid #ddd;
    width:100%;
    margin: 0 auto;
    /*background-color:green;*/
    padding:1%;
}

header {
	background-color:#fff;
	width:100%;
	border-bottom: 1px solid #ccc;
	margin:0 auto;
	position:static;
	/*background-color:yellow;*/

}

section.figures figure {
	float:left;
    display: inline;
    margin: 0px 0% 0px )%;
    width:100%;
}

figure img {
    width:100%;
    height:100%;
    
}


figcaption {
	float:left;
	background: rgba(26, 83, 92, 0.8);
	z-index:5;
	position:relative;
	top:-60px;
	color:white;
	padding:10px 0px;
	width:100%;
	text-align: center;
	opacity:.7;

}


#topNavigation{
	width:100%;
	margin:0 auto;

}

#portfolioLayout {
	float:left;
	width:100%;
	background-color: white;
	margin:10px 0px;
	padding:15px;
	border-style: solid;
	border-width: 1px;
	border-color: #ddd;

}

#mainSection {
	width:100%;
	background-color: white;
	padding:2%;
	border-style: solid;
	border-width: 1px;
	border-color: #ddd;

}


#profilePic {
	margin: 1% 0%;
	width:100%;
}

header h1 {
	padding: 12px 18px;
	float:left;
	background-color:#4aaaa5;
	text-align: center;
	width:100%;
	color:white;
	font-family: 'Georgia', Times, 'Times New Roman', serif;
	margin:0 auto;
	font-size:24px;
	font-style:bold;
	text-transform: uppercase;
	white-space: nowrap;

}

header ul {
	position:relative;
	margin:0% 4% 0% 2%;
	padding:10px;
	border-collapse: all;
	overflow:auto;
	white-space: nowrap;
	text-align:center;
}

nav ul li{
	display:inline;
	list-style:none;
	margin: 0% 10%;
	font-family:Arial, Helvetica, sans-serif;
	font-size:14px;
	text-transform: capitalize;
	
}

#connectBlock {
	clear:both;
	float:left;
	width:100%;
	font-family:Arial, Helvetica, sans-serif;
	color:#4aaaa5;
	background-color: white;
	position:relative;
	margin-top: 8px;

}

hr {
    border-top: 1px 
    solid: #cdcdcd;
    padding: 0px; 
    margin: 10px 0px 10px 0px;
}


}

/*.--------- REGULAR CSS -------*/


/* tag styling */
* { 
    -moz-box-sizing: border-box; 
    -webkit-box-sizing: border-box; 
     box-sizing: border-box; 
}

body {
	font-family:Arial, Helvetica, sans-serif;
	background: url(../images/vertical-waves.png);
    background-repeat: repeat;
    margin: 0%;
}

a:hover { 
	color: #4aaaa5;
	text-decoration: underline; 
	}

p {
	font-family:Arial, Helvetica, sans-serif;
	font-size:16px;
	line-height:1.75;
	color: #777777;

}



aside#connectBlock hr {
	text-align: center;
	size: .5px;
	margin:12px 0%;

}

a {
	text-decoration: none;
	color:#666;
}

h2 {
	display:inline-block;
	margin:0px;
	font-family: 'Georgia', Times, 'Times New Roman', serif;
	color:#4aaaa5;
	font-size:22px;
	font-style:bold;
}

h3 {
	display:inline;
	margin:50px 0px;
	font-family: 'Georgia', Times, 'Times New Roman', serif;
	color:#4aaaa5;
	font-size:16px;
	padding:20px 0px;

}


footer {
	clear:both;
	text-align:center;
	border-top: 10px solid #4aaaa5;
	background-color: #666;
	padding:30px 0%;
	color:white;
	width:100%;

}


 
/*. FORM ITEMS. */

input[type=text], select {
    width: 100%;
    padding: 10px 4px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;

}

label {
	font-size:13px;
	margin:0px;
}

textarea {
	width:100%;
	height:200px;
	box-sizing: border-box;
	border: 1px solid #ccc;
	margin: 8px 0;
	resize:vertical;
    overflow:auto;
	
}


/* IDs */

#container {
	width:900px;
	margin: 0 auto;
	overflow:auto;

}

#connectBlock ul {
	padding:0px;
	border-collapse: all;
}


#connectBlock ul li {
	display:inline;

}

/* classes */

.icon {
	height:35px;
	margin: 0px 5px;
	display:inline;
}

.clearfix::after {
	content:"";
	display:block;
  	clear:both;
}

.floatLeft {
	float: left;
}

.thinBorder{
	border-style: solid;
	border-width: 1px;
	border-color: #ddd;
	padding:10px;

}


.contents {
    overflow: auto;
    border-top: 1px solid #ddd;
    width:900px;
    margin: 0 auto;
}


section.figures {
	display: inline;
	float:left;
	border-collapse: all;

}




